<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans/
	http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context/
	http://www.springframework.org/schema/beans/spring-context.xsd
		http://www.springframework.org/schema/mvc/
		http://www.springframework.org/schema/beans/spring-mvc.xsd">

	<!-- <bean id="handlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>  -->

	<!-- <bean id="/welcome.html" class="com.workouts.HelloController" /> -->
	
	<context:component-scan base-package="com.workouts.HelloController" />
	<mvc:annotation-driven/>
	
	<mvc:interceptors>
		<!-- To call this interceptor for a particular mapping request. -->
		<mvc:interceptor>
			<mvc:mapping path="/admissionForm.html"></mvc:mapping>
			<bean class="com.workouts.DayOfWeekBasedAccessInterceptor" />
		</mvc:interceptor>
		<!-- Common for all mapping request -->
		<bean class="com.workouts.DayOfWeekBasedAccessInterceptor" />
		
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="sitelanguage"/> 	 		
		</bean>
	</mvc:interceptors>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
 	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/springproperties"/>
		<property name="cacheSeconds" value="1"/>
	</bean>
	
	<!-- For LocaleChangeInterceptor to work - its mandatory to put an entry of CookieLocaleResolver bean in the
	Spring's configuration file. You can also put SessionLocaleResolver instead of CookieLocaleResolver. -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en" />
		<property name="cookieName" value="localeCookie" />
		<property name="cookieMaxAge" value="3600" />
	</bean>
	<!-- 
	<bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<map>
				<entry key="NullPointerException" value="NullPointerException"/>
				<entry key="IOException" value="IOException"/>
			</map>
		</property>
		<property name="defaultErrorView" value="Exception"/>
		
		<property name="warnLogCategory" value="MVCLogger"/>
	</bean>
	 -->
</beans>